* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
input {
  margin-left: 20px;
  margin-right: 5px;
}
input:focus {
  outline: 0;
}
input[type="button"] {
  border-width: 1px;
  padding: 5px;
}
.container {
  height: 100%;
  padding: 20px;
}
.row {
  display: flex;
  margin-top: 20px;
}
.row-three > input {
  margin-left: 10px;
  min-width: 35px;
}
.row-five {
  justify-content: flex-end;
}
.row-six {
  justify-content: flex-end;
}
